.home {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.hero__section {
  width: 100vw;
  height: 100vh;
  background: #093931FF;
  background-image: url("../../assets/bg1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6vw;
  padding: 0 148px 0 132px;
}

.hero__section__left {
  width: 537px;
  height: 246px;
  font-size: 72px;
  line-height: 94px;
  color: #F5D38EFF;
  display: flex;
  flex-direction: column;
  gap: 24px;
}


/* Button 1 */
.button {
  min-width: 200px;
  min-height: 52px;
  width: 200px;
  height: 52px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Manrope;
  /* Body */
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFFFF;
  /* white */
  background: #00000000;
  /* transparent */
  opacity: 1;
  border-radius: 26px;
  border-width: 1px;
  border-color: #FFFFFFFF;
  /* white */
  border-style: solid;
}

/* Hover */
.button:hover {
  color: rgb(186, 187, 189);
  border-color: rgb(186, 187, 189);
  background: #00000022;
}

.button:hover:active {
  color: #BCC1CAFF;
  background: #00000000;
}

.hero__section__right {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image1 {
  position: relative;
  z-index: 1;
  margin-top: 50px;
  width: 407px;
  height: 543px;
  border-radius: 8px;
}

.image2 {
  width: 241px;
  height: 321px;
  border-radius: 121px 121px 0px 0px;
  /* border-tl-rounded border-tr-rounded */
  box-shadow: 0px 8px 17px #171a1f, 0px 0px 2px #171a1f;
  /* shadow-l */
}

.hero__section__video {
  margin-top: 50px;
  position: relative;
  left: -100px;
  z-index: 2;
}

.playbutton {
  position: absolute;
  height: 60px;
  top: 47%;
  left: 40%;
}

.features__section {
  display: flex;
  justify-content: space-between;
  padding: 36px 132px;
  margin: 24px 0;
}

.featured_products__section,
.portfolio__section {
  padding: 0 132px;
  height: 506px;
  box-sizing: border-box;
  display: flex;
  gap: 48px;

}

.product__section__left {
  margin-top: 54px;
}

.product__section__description {
  margin-top: 12px;
  width: 264px;
  font-family: Manrope;
  /* Body */
  font-size: 16px;
  line-height: 26px;
  color: #9095A0FF;
  margin-bottom: 24px;
}

.featured_product_heading {
  width: 264px;
  font-size: 40px;
  line-height: 56px;
  color: #0D554AFF;
}

.product_section__products {
  display: flex;
  gap: 24px;
}

.our-collections__section {
  padding: 48px 132px;
  height: 1090px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.home .heading {
  font-size: 40px;
  line-height: 56px;
  color: #0D554AFF;
  display: flex;
  justify-content: center;
}

.collection__items{
  width: 100%;
  /* height: 100%; */
  margin-top: 46px;
  margin-bottom: 26px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 20px;
  justify-content: space-between;
  /* align-items: center; */
  align-content: space-between;
}

.collection__items > *:nth-child(3n) {
  margin-top: 36px;
}

.collection__items > *:nth-child(3n+1) {
  margin-top: 36px;
}

.portfolio__section{
  margin-top: 24px;
  height: 554px; 
  background: #FAFAFBFF;
}

.our-story__section{
  height: 564px; 
  padding: 48px 132px 72px 132px;
  background: #FAFAFBFF;
  box-sizing: border-box;
}

.our-story__video{
  margin-top: 20px;
  height: 368px; 
  width: 100%;
}

.testimonials__section{
  height: 522px; 
  background: #093931FF;
  display: flex;
  padding: 72px 132px 75px;
  justify-content: space-between;
  color: white;
  align-items: center;
  box-sizing: border-box;
}

.testimonials__section .section__title{
  font-size: 48px; 
  line-height: 68px; 
}

.testimonials__section .section__description{
  width: 264px; 
  font-size: 16px; 
  line-height: 26px;
}

.testimonial_right{
  width: 696px; 
  height: 375px; 
  background: #171A1F4D;
  border-radius: 8px;
  border: 2px solid white;
}