/* Home Section */
.home {
  width: 100vw;
}

/* Hero Section */
.hero__section {
  width: 100vw;
  height: 100vh;
  background: #093931FF;
  background-image: url("../../assets/bg1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6vw;
  padding: 0 9.6vw 0 8.6vw;
}

/* Left Section of Hero Section */
.hero__section__left {
  width: 537px;
  height: 246px;
  font-size: 72px;
  line-height: 94px;
  color: #F5D38EFF;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Button */
.button {
  min-width: 200px;
  min-height: 52px;
  width: 200px;
  height: 52px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Manrope;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFFFF;
  background: #00000000;
  opacity: 1;
  border-radius: 26px;
  border-width: 1px;
  border-color: #FFFFFFFF;
  border-style: solid;
}

/* Hover Styles for Button */
.button:hover {
  color: rgb(186, 187, 189);
  border-color: rgb(186, 187, 189);
  background: #00000022;
}

/* Right Section of Hero Section */
.hero__section__right {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Image1 */
.image1 {
  position: relative;
  z-index: 1;
  margin-top: 50px;
  width: 407px;
  height: 543px;
  border-radius: 8px;
}

/* Image2 */
.image2 {
  width: 241px;
  height: 321px;
  border-radius: 121px 121px 0px 0px;
  box-shadow: 0px 8px 17px #171a1f, 0px 0px 2px #171a1f;
}

/* Video in Hero Section */
.hero__section__video {
  margin-top: 50px;
  position: relative;
  left: -100px;
  z-index: 2;
}

/* Play Button */
.playbutton {
  position: absolute;
  height: 60px;
  top: 47%;
  left: 40%;
}

/* Features Section */
.features__section {
  display: flex;
  justify-content: space-between;
  padding: 36px 8.6vw;
  margin: 24px 0;
}

/* Featured Products Section and Portfolio Section */
.featured_products__section,
.portfolio__section {
  padding: 0 0 0 8.6vw;
  width: 100vw;
  height: 506px;
  box-sizing: border-box;
  display: flex;
  gap: 48px;
}

/* Left Section of Product Section */
.product__section__left {
  margin-top: 54px;
  width: 264px;
  box-sizing: border-box;
}

/* Description in Product Section */
.product__section__description {
  margin-top: 12px;
  width: 264px;
  font-family: Manrope;
  font-size: 16px;
  line-height: 26px;
  color: #9095A0FF;
  margin-bottom: 24px;
}

/* Heading of Featured Product Section */
.featured_product_heading {
  width: 264px;
  font-size: 40px;
  line-height: 56px;
  color: #0D554AFF;
}

/* Products in Product Section */
.product_section__products {
  display: flex;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  margin-top: 38px;
  margin-left: -10px;
}

/* Our Collections Section */
.our-collections__section {
  padding: 48px 8.6vw;
  height: 1090px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

/* Heading in Home Section */
.home .heading {
  font-size: 40px;
  line-height: 56px;
  color: #0D554AFF;
  display: flex;
  justify-content: center;
}

/* Collection Items */
.collection__items {
  width: 100%;
  margin-top: 46px;
  margin-bottom: 26px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 20px;
  justify-content: space-between;
  align-content: space-between;
}

/* Additional Styling for Collection Items */
.collection__items > *:nth-child(3n) {
  margin-top: 36px;
}

.collection__items > *:nth-child(3n+1) {
  margin-top: 36px;
}

/* Portfolio Section */
.portfolio__section {
  margin-top: 24px;
  height: 554px;
  background: #FAFAFBFF;
}

/* Our Story Section */
.our-story__section {
  height: 564px;
  padding: 48px 8.6vw 72px 8.6vw;
  background: #FAFAFBFF;
  box-sizing: border-box;
}

/* Video in Our Story Section */
.our-story__video {
  margin-top: 20px;
  height: 368px;
  width: 100%;
}

/* Testimonials Section */
.testimonials__section {
  height: 522px;
  background: #093931FF;
  display: flex;
  padding: 72px 8.6vw 75px;
  justify-content: space-between;
  color: white;
  align-items: center;
  box-sizing: border-box;
}

/* Title in Testimonials Section */
.testimonials__section .section__title {
  font-size: 48px;
  line-height: 68px;
}

/* Description in Testimonials Section */
.testimonials__section .section__description {
  width: 264px;
  font-size: 16px;
  line-height: 26px;
}

/* Right Section of Testimonial */
.testimonial_right {
  width: 696px;
  height: 375px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

/* Slider */
.slider {
  width: 100%;
}

/* Testimonial */
.testimonial {
  background: #171A1F4D;
  overflow: hidden;
  border-radius: 8px;
  box-sizing: border-box;
  width: 696px;
  min-width: 696px;
  height: 375px;
  display: flex;
}

/* Content in Testimonial */
.testimonial_content {
  margin: 60px 36px;
  width: 324px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 26px;
  position: relative;
}

/* User Name in Testimonial */
.user_name {
  margin-top: 18px;
  line-height: 30px;
}

/* Next Arrow in Testimonial */
.next_arrow2{
  position: absolute;
  left: calc(100% - 52px - 36px);
  top: calc(100% - 26px);
  z-index: 1;
}

/* Previous Arrow in Testimonial */
.prev_arrow2{
  position: absolute;
  left: calc(100% - 52px - 18px - 52px - 36px);
  top: calc(100% - 26px);
  z-index: 1;
}
