.Products_card{
    height: fit-content;
    /* padding-bottom: 18px; */
    margin: 1px;
    /* margin-top: 48px; */

    width: 276px; 
    max-width: 276px; 
    min-width: 276px; 
  height: 410px; 
  max-height: 410px; 
  min-height: 410px; 
  border-radius: 8px;
  /* box-shadow: 0px 0px 1px #c5c3c3, 0px 0px 2px #c5c3c3;     */
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f; 
  overflow: hidden;
  margin-right: 24px;
}

.Products_card img {
    width: 276px;
    height: 320px;
}

.product_name{
    font-size: 24px; 
  line-height: 36px; 
  color: #171A1FFF;
  margin-left: 12px;
}

.product_price{
    margin-left: 12px;
    font-size: 16px; 
  line-height: 26px; 
  color: #171A1FFF;
}