.navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 62px;
    background: #093931FF;
    color: #EEF1F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8.6vw;
    box-sizing: border-box;
}

.navbar__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
}

.navbar__links {
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    display: flex;
}

.navbar__links a{
    padding: 11px 30.63px;
}

a.active {
    color: rgb(242, 198, 109);
    position: relative;
}

.navbar__links a.active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgb(242, 198, 109);
    border-radius: 2px;
}

.navbar__icons{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}