/* CSS reset */
*{
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

.app {
  width: 100vw;
  height: 100vh;
  min-height: fit-content;
  overflow: scroll;
  /* overflow: hidden; */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.under_development_page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}