.font-primary{
  font-family: "Cormorant Garamond";
}

.font-secondary{
  font-family: "Manrope";;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body{
  overflow: hidden;
}

button,
img{
  cursor: pointer;
}