.font-primary{
  font-family: "Cormorant Garamond";
}

.font-secondary{
  font-family: "Manrope";;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body{
  width: 100vw;
  overflow-x: hidden;
}

button,
img{
  cursor: pointer;
}